/* ESTILOS GERAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #fff;
  width: 100%;
  height: 3.3rem;
  box-shadow: 1rem 0rem 1rem rgba(0, 0, 0, 0.048);
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  
}

h1 {
  color: #383838;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
}

  p {
  color: #6D6D6D;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
}


.btn {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 800;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: .5rem;
}

.grey_bg {
  background-image: url(../img/dark-bg.png);
  background-size: cover;
}

.white_bg {
  background-color: #fff;
  color: #000;
}

.page_grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 10rem;
 }
/* FIM ESTILOS GERAIS */


/* ESTILOS MENU */
.menu {
  position: fixed;
}

.menu_content {
  margin: 0 auto;
  padding: 0 15%;
}

.page_content {
  margin: 0 auto;
  padding: 0 15%;
  min-height: 100vh;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 900;
}

.nav__bar ul {
  display: flex;
  list-style-type: none;
}

.nav__bar ul li a {
  padding: 2rem;
  display: block;
  position: relative;
}

.nav__bar ul li a::after {
  content: "";
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 0;
  height: 0.1rem;
  background: #875D73;
  transition: all 300ms ease-in-out;
}

.nav__bar ul li a:hover::after {
  width: 50%;
  left: 25%;
}
/* FIM ESTILOS MENU */

/* ESTILO HOME */
.txt_home {
 margin-top: 8rem;
}

.btn_home button {
  margin-top: 3rem;
}

.btn_home button:hover{
  transform: scale(1.1);
}

.img_home {
  margin: 10rem auto;
}

.img_home img {
  width: 30vw
}
/*FIM ESTILOS HOME*/

/*ESTILOS ABOUT*/
.img_about img {
 max-width: 28rem ;
 margin:6rem auto;
}


/*FIM ESTILOS ABOUT*/

