@charset "UTF-8";

/*ESTILO GERAL */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #ffb400;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover,
form .btn-enviar input[type="submit"]:hover {
  box-shadow: 0px 0px 8px #ffb300;
  transform: scale(1.05);
}

h2.titulo {
  color: white;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #ffb400;
}

/*ESTILO DO CABEÇALHO*/
header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #6b6b6b;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0px 40px;
}

/* ESTILO DO TOPO DO SITE*/

section.top-do-site {
  padding: 40px 4%;
}

section.top-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.top-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

.top-do-site .txt-top-site h1 span {
  color: #ffb400;
}

.top-do-site .txt-top-site p {
  color: #fff;
  margin: 40px 0px;
}

.top-do-site .img-top-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/*ESTILOS DA ESPECIALIDADES*/

section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}
.especialidades .especialidades-box {
  color: white;
  padding: 40px;
  margin-top: 45px;
  border-radius: 20px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff47;
}

.especialidades .especialidades-box i {
  font-size: 70px;
  color: #ffb400;
}

.especialidades .especialidades-box h3 {
  font-size: 30px;
  margin: 15px 0px;
}

/*ESTILOS DO SOBRE MIM*/

section.sobre-mim {
  color: white;
  padding: 80px 4%;
}

section.sobre-mim .flex {
  align-items: center;
  gap: 60px;
}

.sobre-mim .txt-sobre span {
  color: #ffb400;
  display: inline-block;
}

.sobre-mim .txt-sobre p {
  margin: 20px 0px;
  text-align: justify;
}

.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #ffb400;
  font-size: 25px;
  cursor: pointer;
  margin: 0px 5px;
  transition: 0.2s;
}

/*ESTILO PORTFÓLIO*/

section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff11;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-projeto {
  width: 350px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 8s;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
}

.img-projeto:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #636363ae;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO*/

section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: rgb(43, 43, 43);
  border: none;
  outline: none;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
}

form textarea {
  resize: none;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}
form .btn-enviar input[type="submit"] {
  width: 120px;
  background-color: #ffb400;
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

/* ESTILO DO RODAPÉ */

footer {
  padding: 60px 4%;
  box-shadow: 0 0 40px 10px #ffffff11;
}

footer .flex {
  justify-content: space-between;
  align-items: center;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #ffb400;
}

footer .line-footer p i {
  color: #ffb400;
  font-size: 22px;
}

footer .line-footer a {
  color: #fff;
  padding: 0 8px;
}

/* VERSÃO MOBILE*/

@media screen and (max-width: 1119px) {
  /* CLASSES GERAIS*/
  .flex {
    flex-flow: column-reverse;
    gap: 40px;
  }

  h2.titulo {
    font-size: 30px;
    line-height: 35px;
  }

  /* CABEÇALHO */
  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* TOPO DO SITE */
  section.top-do-site .flex {
    gap: 50px;
  }

  section.top-do-site {
    padding: 20px 8%;
  }

  .top-do-site .img-top-site img {
    width: 100%;
  }

  .top-do-site h1 {
    text-align: center;
    font-size: 35px;
    line-height: 29px;
  }

  .top-do-site .txt-top-site p {
    margin: 30px 8px;
    font-size: 1.2em;
    line-height: 24px;
  }

  /* ESPECIALIDADES*/
  section.especialidades {
    padding: 40px 8%;
  }

  section.especialidades .flex {
    gap: 10px;
  }

  /* SOBRE */
  section.sobre-mim {
    padding: 50px 8%;
  }
  .foto-sobre {
    width: 100%;
  }

  .btn-social {
    text-align: center;
  }

  /* PORTFÓLIO */
  section.portfolio {
    padding: 80px 8%;
    box-shadow: none;
  }

  section.portfolio .flex {
    gap: 50px;
  }

  .img-projeto {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  /* ESTILO DO FORMULÁRIO DE CONTATO*/

  section.formulario {
    padding: 50px 8%;
  }

  /* RODAPÉ */
  footer .flex {
    flex-direction: column
  }

  footer .line-footer {
    text-align: center;
  }
}
