.intro-content {
  position: relative;
  top: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  min-height:100vh;
}

.grid-one-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
}
.grid-main-heading {
  margin-bottom: 2rem;
}
.grid-description {
  padding-bottom: 5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
}

.form-grid legend {
  margin-bottom: 3rem;
  font-style: italic;
  font-size: 1.6rem;
}

.form-group {
  flex: 1 1 320px;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea{
  border: none;
  border-radius: .5rem;
  background-color: rgba(0, 0, 0, 0.205);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 2rem;
  resize: none;
  
}

.form-group button {
  border: none;
  background-color: #6C63FF;
  color: white;
  border-radius: .5rem;
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  background-color: #6b63ffa4;
}

.rodape {
  position: relative;
  padding-bottom: 0;
}

.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 3rem;
}

.footer span {
  color: red;
}
.rodape > .main-bg {
  margin-bottom: -20px;
}