.intro-content {
  position: relative;
  top: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--gap);
  height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
  line-height: 1.1;
}

.intro-img img {
  max-width: 100%;
  height: auto;
}