* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page_content {
  width: 100vw;
  padding: 0 8%;
}

.nav_container {
  display: flex;
  justify-content: space-around;
  
}

ul li {
  display: inline-block;
}

ul li a {
 
}