/* ESTILOS GERAIS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f2f2f;;
}


/* ESTILO NAVEGATION */
header {
  background-color: #fffef7;
}

.logo {
  text-align: center;
  margin: 0 auto;
  padding: .5em 0;
}

.menu-mobile {
  display: none;
}

.menu-mobile ul {
  list-style-type: none;
  text-align: center;
}

.menu-mobile ul li a {
  display: block;
  width: 100vw;
  font: 500 1.5rem "Baskervville SC", serif;;
  line-height: 3rem;
  letter-spacing: .6rem;
  text-decoration: none;
  color: #000;
  transition: .2s;
}

.menu-mobile ul li a:hover {
  background-color: #e4e4de;
  transform: scale(1.02);
}

i#burguer {
  font-size: 3.4rem;
  display: block;
  text-align: center;
  transition: .2s;
}

i#burguer:hover {
  background-color: #e4e4de;
  cursor: pointer;
}