* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-primary: #fff;
  --color-secundary: #000;
  --color-link: #e41818;
}

.white-bg {
  background-color: var(--color-primary);
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem 20rem;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  display: inline;
  list-style-type: none;
  padding-left: 5rem;
}

.menu ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color:var(--color-secundary) ;
}

.menu ul li a::after, a:hover {
  content: '';
  border-bottom: 2px solid var(--color-link);
  
}